/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	font-family: arial;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*work starts here*/

/*universals*/

a{
	text-decoration: none;
}

/*background*/

#background{
	position: absolute;
	background: #b2b2b2 url("images/recordStore.bmp") 50% 0 no-repeat;
	background-size: 1200px 100%;
	width: 100%;
	top: 0;
	height: 1100px;
}

/*header bar*/

#foreground{
	position: absolute;
	top: 0;
	height: 1100px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 920px;
	-webkit-box-shadow: -30px 0 30px #000, 30px 0 30px #000, -5px 0 5px #000 inset, 5px 0 5px #000 inset;
}
#navBar{
	position: relative;
	height: 80px;
	background-color: grey;
	width: 100%;
	top: 0;
	background: -webkit-linear-gradient(#DBDBDB,#AFAFAF);
	box-sizing: border-box;
	border-bottom: 5px solid #666699;
}

#navBar *{
	display: inline-block;	
}

#logo,#title{
	float: left;
	margin-left: 15px;
	margin-top: 15px;
}

#logo{
	height: 50px;
}

#title{
	padding-top: 9px;
	font-size: 26px;
	font-family: arial;
}

#signin,#checkout{
	float: right;
	margin-right: 15px;
	margin-top: 27px;
}

#checkout{
	margin-top: 21px;
}

#checkout img{
	height: 20px;
}

/*rotating banner*/

#banner{
	position: relative;
	background: -webkit-linear-gradient(360deg,#00004C 65%,#455088);
	width: 100%;
	overflow: auto;
}

/*search tools*/

#browse,#search{
	display: inline-block;
}

#browse{
	float: left;
	margin-top: 14px;
	margin-left: 36px;
	color: white;
	font-family: arial;
	font-size: 20px;
}

#search{
	float: right;
	margin-right: 10px;
	margin-top: 11px;
}

#rotate{
	position: relative;
	clear: both;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 15px 10px 15px;
	overflow: auto;
}

/*banner itself*/

#album{
	display: inline-block;
	clear: left;
	float: left;
	height: 146px;
	margin-left: 40px;
}

#description{
	display: inline-block;
	float: left;
	background-color: white;
	border: 1px solid black;
	width: 75%;
}

/*sell records*/

#sell{
	position: relative;
	float: right;
	clear: both;
	margin-right: 10px;
	margin-bottom: 10px;
	color: white;
}

/*document body*/

#body{
	position: absolute;
	width: 100%;
	overflow: auto;
	bottom: 0;
	top: 317px;
}

#leftBar,#center,#rightBar{
	display: inline-block;
	float: left;
	position: absolute;
	top: 0;
	bottom: 0;
	height: 100%;
}

/*left bar*/

#leftBar{
	width: 200px;
	left: 0;
	background-color: #E6E6E6;
	border-right: 1px solid black;
	-webkit-box-sizing:border-box;
}

/*center body*/

#center{
	width: 520px;
	left: 200px;
	background-color: violet;
	border-right: 1px solid black;
	-webkit-box-sizing:border-box;
}

#storyImages{
	float: left;
}

.storyImage{
	height: 40px;
	display: block;
}

#storyBody{
	float: left;
	width: 300px;
}

/*right bar*/

#rightBar{
	width: 200px;
	right: 0;
	background-color: orange;
	border-left: 1px solid black;
	-webkit-box-sizing:border-box;
}

#twitterFeed{
	width: 150px;
}