/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	font-family: arial;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*work starts here*/

/*universals*/

a{
	text-decoration: none;
}

/*background*/

#background{
	position: absolute;
	background: rgba(0, 0, 0, 0.69) url("images/recordStore.bmp") 50% 0 no-repeat;
	background-size: 1200px 100%;
	width: 100%;
	top: 0;
	height: 1100px;
}

/*header bar*/

#foreground{
	position: absolute;
	top: 0;
	height: 1100px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 920px;
	-webkit-box-shadow: -30px 0 30px rgba(0,0,0,0.7), 30px 0 30px rgba(0,0,0,0.7);
}
#navBar{
	position: relative;
	height: 80px;
	width: 100%;
	top: 0;
	background: -webkit-linear-gradient(#DBDBDB,rgba(0,0,0,0.8));
	box-sizing: border-box;
	border-bottom: 5px solid #325E61;
}

#navBar *{
	display: inline-block;	
}

#title {
	float: left;
	margin-left: 22px;
	margin-top: 21px;
	padding-top: 9px;
	font-size: 37px;
	font-family: impact;
	color: rgba(255, 247, 232, 0.94);
	font-weight: bolder;
}

#signin,#checkout{
	float: right;
	margin-right: 15px;
	margin-top: 11px;
	color: rgba(67, 11, 211, 1);
	font-family: monospace;
	font-weight: bold;
}

#checkout{
	margin-top: 1px;
}

#checkout h4{
	font-family: monospace;
	font-weight: bold;
}

#checkout img{
	height: 20px;
}

/*rotating banner*/

#banner{
	position: relative;
	background: -webkit-linear-gradient(#325E61, rgba(130, 99, 85, 0));
	width: 100%;
	overflow: auto;
}

/*search tools*/

#browse,#search{
	display: inline-block;
}

#browse{
	float: left;
	margin-top: 3px;
	margin-left: 5px;
	color: white;
	font-family: arial;
	font-size: 20px;
	background: -webkit-linear-gradient(#444444,#000000);
	padding: 7px;
	border-radius: 5px;
}

#search{
	float: right;
	margin-right: 10px;
	margin-top: 11px;
}

/*banner itself*/

#rotate{
	position: relative;
	clear: both;
	margin-left: auto;
	margin-right: auto;
	padding: 7px 15px 7px 15px;
	overflow: auto;
}

#album{
	display: inline-block;
	clear: left;
	float: left;
	height: 146px;
	margin-left: 40px;
}

#description{
	display: inline-block;
	float: left;
	background-color: white;
	border: 1px solid black;
	width: 75%;
}

/*sell records*/

#sell{
	position: relative;
	float: right;
	clear: both;
	margin-right: 10px;
	margin-bottom: 10px;
	color: white;
	padding: 7px;
	background: -webkit-linear-gradient(#444444,#000000);
	border-radius: 5px;
}

/*document body*/

#body{
	position: absolute;
	width: 100%;
	overflow: auto;
	bottom: 0;
	top: 317px;
}

#center,#rightBar{
	position: absolute;
	top: 0;
	bottom: 0;
}

/*left bar*/

#leftBar{
	position: absolute;
	width: 240px;
	left: -30px;
	top: 287px;
	background-color: rgba(131, 179, 182, 0.49);
	-webkit-box-sizing:border-box;
	z-index: 3;
	-webkit-box-shadow: 15px -10px 5px rgba(0,0,0,0.55);
	padding: 10px 3px;
	border-radius: 10px;
	font-size: 20px;
	color: white;
	font-weight: bold;
	font-family: arial;

}

.event{
	-webkit-box-sizing: border-box;
	padding: 5px;
	margin: 10px 5px;
	background: -webkit-linear-gradient(rgba(148, 115, 106, 1),rgba(194, 163, 155, 1));
	border-radius: 3px;
}

.eventTitle, .eventBody{
	font-size: 11px;
}

.eventTitle{
	padding-bottom: 1px;
	border-bottom: 1px solid black;
	margin-bottom: 3px;
}

/*center body*/

#center{
	width: 720px;
	left: 0px;
	border-right: 1px solid black;
	-webkit-box-sizing:border-box;
}

#storyImages, #storyBody,#storyTitle{
	float: right;
}

#storyBody{
	clear: right;
}



.storyImage{
	height: 40px;
	display: block;
}

#storyBody{
	width: 300px;
}

/*right bar*/

#rightBar{
	width: 200px;
	right: 0;
	background-color: orange;
	border-left: 1px solid black;
	-webkit-box-sizing:border-box;
}

#twitterFeed{
	width: 150px;
}

/*footer*/

#footer{
	position: fixed;
	background-color: #D6D6D6;
	border: 1px solid #727C9A;
	border-bottom: 0;
	bottom: 0;
	width: 1200px;
	padding-top: 15px;
	padding-bottom: 15px;
	z-index: 5;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

#top{
	float: left;
	margin-left: 30px;
}

#copyright{
	float: right;
	margin-right: 30px;
}